.label {
  font-size: 20px;
}

.input {
  outline: 0;
  padding: 2px;
  margin: 0 auto 10px;
  border: 1px solid rgb(255, 255, 255);
  border-left: none;
  border-right: none;
  border-top: none;
  display: block;
  height: 25px;
  width: 200px;
  background-color: rgba(236, 236, 236, 0.112);
  border-radius: 5px;
  color: rgb(63, 63, 63);
  font-weight: 600;
  font-size: 20px;
}
.input:focus {
  background-color: #ffffff78;
  border-radius: 5px;
}
