.list {
  margin: 20px auto;
  display: flex;
  box-shadow: 0 0 5px 5px rgba(102, 93, 75, 0.6);
  background-color: rgba(68, 68, 68, 0.5);
  width: 700px;
  border-radius: 5px;
  justify-content: center;
  align-items: baseline;
}

.link {
  font-weight: 600;
  text-decoration: none;
  font-size: 30px;
  color: rgb(121, 121, 121);
}
