.item {
  min-width: 200px;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.item:last-child {
  margin-bottom: 0;
}

.btn {
  right: 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px 5px;
  min-width: 50px;
  border: 0.5px solid gray;
  text-transform: uppercase;
  background-color: rgba(212, 18, 18, 0.5);
}
.arrow {
  fill: rgb(255, 255, 255);
  transform: rotate(180deg);
  margin-right: 10px;
  right: 5px;
}

.spiner {
  right: 20%;
  top: 300px;
}
